
*.xml
*.meta
*.class
*.class
*.class
*.class
*.class
*.class
Object/Java/Bibliotech/target/classes/org/Bibliotech/Controller/LibroController.class
Basi/SQL/.DS_Store
Basi/SQL/Trigger/.DS_Store
Basi/.idea/Basi.iml
Basi/.idea/Basi.iml
*.class
*.iml
*.iml
Object/Java/Bibliotech/.idea/Bibliotech.iml
